body{
    margin: 0;
}
.cy_top_wrapper {
    position: relative;
}
.cy_top_info {
    background-color: #6a6a6a;
}
.cy_top_detail {
    width: auto;
    float: right;
}
.cy_top_detail ul {
    padding: 0px;
    margin: 0px;
}
.cy_top_detail ul li {
    float: left;
    list-style: none;
    color: #ffffff;
    font-size: 13px;
    padding: 15px 20px;
    border-right: 1px solid #4e4e51;
    position: relative;
}
.cy_top_detail ul li a {
    color: #ffffff;
    display: block;
}
.cy_top_detail ul > li > ul >li:last-child {
    padding-right: 0px;
}
.cy_top_detail ul li ul li {
    padding: 0px 10px;
    border-right: none;
}
.cy_top_detail ul > li:last-child {
    border-right: none;
    padding-right: 0px;
}
.cy_top_detail ul li ul li:first-child {
    padding-left: 0px;
}
.cy_top_detail ul li a:hover {
    color: #ff712a;
}
.cy_menu_wrapper{
    top: 49px;
    height: 80px;
    position: absolute;
    width: 100%;
    background-color: aliceblue;
    z-index: 100;
    backface-visibility: hidden;
}
.cy_logo_box {
    text-align: center;
    position: absolute;
    width: 385px;
    background-color: #342b26;
    padding: 65px 85px;
    text-align: right;
    top: -50px;
    z-index: 1;
}
.cy_logo_box:after{
    position: absolute;
    width: 131px;
    height: 100%;
    background-color: #342b26;
    content: "";
    right: -75px;
    z-index: -1;
    top: 0;
    transform: skew(35deg);
    -webkit-transform: skew(35deg);
    -ms-transform: skew(35deg);
    -moz-transform: skew(35deg);
    -o-transform: skew(35deg);
}
.cy_logo_box img {
    display: inline-block;
}
.logoimg{
    position: absolute;
    height: 147px;
    top: 0;
    left: 0;
}
.logoname{
    font-size: 26px;position: absolute;left: 200px;
    top: 53px;color: aliceblue;
    font-style: bold;
    width:223px;
    text-transform:uppercase;
    font-weight: bold;
    font-family: 'Fondamento', cursive;
}
button.cy_menu_btn {
    display: none;
}
.cy_menu {
    width: calc(100% - 50px);
    float: left;
}
.cy_menu ul {
    width: auto;
    float: right;
    padding: 0px;
    margin: 0px;
}
.cy_menu ul > li{
    float: left;
    list-style: none;
    margin-right: 30px;
    position: relative;
}
.cy_menu ul > li > a{
    padding: 30px 0px;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #2f3942;
    font-weight: bold;
    position: relative;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.cy_menu ul > li > a.active {
    color: #ff712a;
}
/* .cy_menu ul > li > a.active:after {
    width: 100%;
} */
.cy_menu ul > li:hover > a {
    color: #ff712a;
}
.cy_menu ul > li:last-child {
    margin-right: 0px;
}
.cy_menu ul > li > a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ff712a;
    height: 3px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.cy_menu ul > li:hover > a:after {
    width: 100%;
}
.cy_menu ul > li:last-child > a {
    padding-right: 0px;
}
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .cy_logo_box {
        padding: 46px 85px;
    }
}
@media(max-width:1200px){
	.cy_logo_box {
		width: 400px;
	}
    .cy_top_detail ul li {
        padding: 7px 20px;
    }
}
@media(max-width:1024px){
	.cy_logo_box {
    width: 247px;
    padding: 50px 44px;
}
}
@media(min-width:992px) and (max-width:1199px) {
    cy_top_info{
        height:35px;
    }
    .cy_top_detail ul li{
        padding:7px 20px;
    }
    .cy_menu_wrapper {
        height: 50px;
        top:34px;
    }
    .cy_logo_box {
		width: 280px;
		padding: 50px 44px;
    }
    .logoimg{
        position: absolute;
        height: 120px;
        top: 0;
        left: 0;
    }
    .logoname{
        font-size: 22px;
        position: absolute;
        left: 130px;
        top: 53px;
        color: aliceblue;
        font-style: bold;
        width:223px;
        text-transform:uppercase;
        font-weight: bold;
        font-family: 'Fondamento', cursive;
    }
    .cy_menu ul{
        margin:-15px -40px;
    }
}
@media(min-width:991px) {
    .cy_menu ul li ul.sub-menu {
        position: absolute;
        top: 100%;
        width: 200px;
        background-color: #2f3942;
        backface-visibility: hidden;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-2em);
        -webkit-transform: translateY(-2em);
        -moz-transform: translateY(-2em);
        -ms-transform: translateY(-2em);
        -webkit-transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
        -moz-transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
        -o-transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
        transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
    }
    .cy_menu ul li ul.sub-menu li {
        width: 100%;
        margin: 0px;
    }
    .cy_menu ul > li > ul.sub-menu li a {
        padding: 12px 15px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #424e59;
    }
    .cy_menu ul > li > ul.sub-menu li a:hover {
        color: #ff712a;
    }
    .cy_menu ul > li > ul.sub-menu li:last-child a {
        border-bottom: none;
    }
    .cy_menu ul > li:hover > ul.sub-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    .cy_menu ul li ul.sub-menu li ul.sub-menu {
        left: 100%;
        top: 0;
    }
}
@media(max-width:991px) {
    .cy_top_info {
        float: none !important;
        height:35px;
    }
    .col-lg-12.col-md-12.padder_left.padder_right{
        position: static;
        padding: 0px 15px;
    }
    .cy_top_detail {
        text-align: center;
        float: none;
    }
    .cy_top_detail ul {
        text-align: center;
        display: inline-block;
    }
    .cy_top_detail ul li {
        float: none;
        display: inline-block;
        padding: 7px 12px;
    }
    .logoimg{
        height: 116px;
        top: -10px;
        left: 0;
    }
    .logoname{
        left: 170px;
        top:0;
    }
    .cy_menu_wrapper {
        height: 80px;
		position:fixed;
		z-index:300;
		transition:all 0.3s ease-in-out;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
    }
	.cy_menu_wrapper.cy_fixed{
		top: 0px !important;
	}
    .cy_menu_wrapper.cy_fixed .cy_logo_box {
        width: 400px;
        padding: 0px 85px;
    }
    .cy_menu_wrapper.open_menu .cy_logo_box {
        width: 400px;
        padding: 0px 85px 0px 85px;
        top: 0px;
        text-align: center;
    }
    .cy_menu_wrapper {
        height: 80px;
    }
    .cy_logo_box {
        width: 400px;
        padding: 0px 85px;
        text-align: center !important;
        top: 0px;
        height: 80px;
        line-height: 80px;
    }
    button.cy_menu_btn {
        border-radius: 6px;
        float: right;
        display: block;
        width: 45px;
        height: 40px;
        border: 1px solid transparent;
        margin: 20px 0px;
        background-color: #f27131;
        position: relative;
        text-align: center;
    }
    button.cy_menu_btn:hover{
        cursor:pointer;
    }
    button.cy_menu_btn:focus {
        outline: none;
    }
    .cy_menu ul > li ul.sub-menu {
        display: none;
        position: relative;
    }
    .cy_menu ul {
        background-color: #342b26;
        position: fixed;
        right: 0;
        width: 100%;
        height: auto;
        opacity: 0;
        visibility: hidden;
    }
    .open_menu .cy_menu ul {
        opacity: 1;
        visibility: visible;
        height:375px;
        width:200px;
        padding-left:64px;
		overflow-y:scroll;
        border-radius: 5px;
	}
	.open_menu .cy_menu ul li .sub-menu{
		overflow-y:visible;
		height:auto;
	}
	.open_menu > .cy_menu > ul{
		 height:300px;
		 overflow-y:scroll;
    }
    /* .open_menu .cy_menu ul::-webkit-scrollbar{
		width: 1px;
	}
	.open_menu .cy_menu ul::-webkit-scrollbar-thumb{
	  background-color: #817a77;
	  outline: 0px solid slategrey;
	} */
    button.cy_menu_btn i{
        color: #ffffff;
        font-size: 18px;
    }
    .cy_menu ul > li{
        width: 100%;
    }
    .cy_menu ul > li > a{
        padding: 15px 15px;
        color: #ffffff;
    }
    .cy_menu ul > li ul.sub-menu li {
        border-bottom: 1px solid #666666;
    }
    .cy_menu ul > li ul.sub-menu li a {
        border-bottom: none;
        padding-left: 25px;
    }
    .cy_menu ul > li > a:after {
        display: none;
    }
    .cy_menu ul > li > a {
        border-bottom: 1px solid #666;
        width: 90px;
    }
    .cy_menu{
        width: 100%;
    }
}
@media(min-width:768px) and (max-width:991px) {
    .cy_menu ul > li{
        margin-right: 25px;
    }
    .cy_logo_box:after {
        width: 100px;
        height: 80px;
        right: -32px;
        transform: skew(35deg);
        -webkit-transform: skew(35deg);
        -moz-transform: skew(35deg);
        -o-transform: skew(35deg);
        -ms-transform: skew(35deg);
    }
}
@media(max-width:767px) {

    .cy_top_wrapper{
        display: none;  
    }
    .cy_top_detail > ul > li{
        border: none;
    }
    .cy_menu_wrapper {
        top: 0px !important;
        height:101px;
    }
    button.cy_menu_btn {
        top:10px;
        border-radius: 6px;
        z-index: 1;
        left:101px;
    }
    .cy_menu_wrapper.open_menu .cy_logo_box {
        width: 55%;
        padding: 0px 30px 0px 30px;
    }
    .cy_logo_box {
        height: 101px;
        width: 55%;
        padding: 0px 40px
    }
    .cy_logo_box:after {
        width: 100px;
        height: 101px;
        right: -36px;
        transform: skew(35deg);
        -webkit-transform: skew(35deg);
        -moz-transform: skew(35deg);
        -o-transform: skew(35deg);
        -ms-transform: skew(35deg);
    }
    .logoimg{
        top:-13px;
        left:-11px;
    }
    .logoname{
        top:17px;
    }
    
    
}
@media (max-width: 767px) and (orientation: landscape) {
	.open_menu .cy_menu ul {
		overflow-y: scroll;
        height:70%;
        top:101px;
	}
    
}
@media (max-width: 576px){
    .logoname{
        display: none;
    }
    .logoimg{
        top: -13px;
        left: -10px;
    }
    .cy_logo_box{
        width: 100%;
        padding: 0px 6px;
        height: 101px;
    }
    .cy_menu_wrapper.open_menu .cy_logo_box {
        width: 100%;
        padding: 0px 6px;
    }
    
    button.cy_menu_btn {
        top:10px;
        border-radius: 6px;
        z-index: 1;
        left:1px;
    }
    .open_menu .cy_menu ul{
        height:375px;
        top:101px;
    }
    .cy_top_detail > ul > li{
        border: none;
        display: block;
        padding: 15px 0px;
    }
    .cy_logo_box:after{
        display: none;
    }
}
@media (max-width: 480px){
    .logoname{
        display: none;
    }
    .logoimg{
        top: 0;
        left: -10px;
    }
    .cy_logo_box{
        width: 100%;
        padding: 0px 6px;
        height: 101px;
    }
    .cy_menu_wrapper.open_menu  {
        width: 100%;
        padding: 0;
    }
    
    button.cy_menu_btn {
        top:10px;
        border-radius: 6px;
        z-index: 1;
        left:1px;
    }
    .cy_menu_wrapper.open_menu .cy_logo_box {
        width: 100%;
        padding: 0px 6px;
    }
}
